<div>
{{#with main}}
  <main>
    <section>
      <div>
       {{>title data='Work history' big=true }}
      </div>
      <div> 
        <ul>
            {{#each works}}
          <li>
            <div>
              {{position}}
            </div>
            <br />
            <div>
              {{duration.from}}-
              {{#if duration.to}} 
              {{duration.to}}
             {{else}} (досі праюємо) 
              {{/if}}
              </div>
            <br />
            {{#if company.url}}
                    <div>{{>link text=company.name href=company.url blank=true noLine=true}}</div>
                    {{else}}
                    <b>{{company.name}}</b>
                    {{/if}}
                    <br>
                    <br>
            <div> 
              <strong>
              Projects ({{projectAmount}}) 
            </strong>
            </div>
            
            <br />

             <ul>
              {{#each projects}}

                        <div>{{>link text=name href=url blank=true noLine=true}}</div>
                        <br>

                        <div>
                            <p>{{about}}</p>
                        </div>
                        <br>
                        <div>
            <em> Project stacks({{stackAmount}})</em>
                        </div>

                        <br>
                        <div>
                            <ul>
                                {{#each stacks}}
                                <li>{{name}}</li>
                                {{/each}}
                            </ul>
                        </div>
                        <br>
                        <div>
                            <em>Project awards({{awardsAmount}})</em>
                        </div>
                        <br>
                        <div>
                            <ul>
                                {{#each awards}}
                                <li>{{name}}</li>
                                {{/each}}
                            </ul>
                        </div>
                        {{/each}}
                    </ul>
                    </li>
                    <br>
          </li>
            
        {{/each}}
        </ul>
      </div>
    </section>
  </main>
{{/with}}

